# Ignore node_modules directory
**/node_modules/

# Ignore built output
dist/

# Ignore environment-specific files
.env
.env.*

# Ignore TypeScript build artifacts
*.js
*.js.map

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs and debugging files
logs/
*.log
*.log.*


# Ignore yarn.lock for Yarn
yarn.lock

# Ignore DS files
.DS_Store

# Ignore uploads directory
**/uploads/